<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<div id="wrap" th:fragment="header">
    <div class="header">
        <div class="top">
            <div class="left">
                <a th:href="@{/}">Bra vo Bra</a>
                <a th:href="@{/product/list}">팬티</a>
                <a th:href="@{/product/list}">브라</a>
                <a th:href="@{/notice/list}">공지사항</a>
                <a th:href="@{/faq/list}">FaQ</a>
                <a th:href="@{/help}">문의사항</a>
                <!--                <a href="#">Insights</a>-->
                <!--                <a href="#">About Us</a>-->
            </div>
            <div class="right">
<!--                <a th:href="@{/members/login}"-->
<!--                >로그인-->
<!--                </a>-->
                <a th:if="${loginMember == null}" th:href="@{/members/login}">로그인</a>
                <a th:if="${loginMember == null}" th:href="@{/members/join}">회원가입</a> <!-- 로그인시 안나옴 -->
                <a th:if="${loginMember != null}" th:href="@{/members/logout}">로그아웃</a> <!-- 로그아웃 -->
                <a th:href="@{/order}">주문조회</a>
                <a th:href="@{/cart/list}">장바구니</a>
            </div>
        </div>
    </div>
</div>
</html>
