<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/header.css"/>
    <link rel="stylesheet" href="../css/test.css"/>
    <title>Order List</title>

</head>
<div>
    <th:block th:replace="fragments/header :: header"></th:block>
</div>
<body>
<div th:if="${pageResponse == null or pageResponse.content.size() == 0}">
    <p>조회된 주문이 없습니다.</p>
</div>

<div th:if="${pageResponse != null and pageResponse.content.size() > 0}">
    <h1>Order List</h1>

    <div th:each="order : ${pageResponse.content}" class="order-container">
        <!-- Order Header -->
        <div class="order-header">
            <span th:text="'Order No: ' + ${order.orderNo}"></span><br/>
            <span th:text="'Order Date: ' + ${order.orderDate}"></span><br/>
            <span th:text="'Order State: ' + ${order.orderState}"></span><br/>
            <span th:text="'Total Price: ' + ${order.totalPrice} + ' KRW'"></span>
        </div>
        <!-- Product List -->
        <div class="product-list">
            <h3>Products:</h3>
            <div th:each="product : ${order.productList}" class="product-item">
                <img th:src="@{../uploads/{img}(img=${product.img})}" alt="Product Image" class="product-img"/>
                <div>
                    <span th:text="'Product Name: ' + ${product.productName}"></span><br/>
                    <span th:text="'Size: ' + ${product.size}"></span><br/>
                    <span th:text="'Color: ' + ${product.color}"></span><br/>
                    <span th:text="'Quantity: ' + ${product.quantity}"></span><br/>
                    <span th:text="'Order Price: ' + ${product.orderPrice} + ' KRW'"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <ul>
            <!-- 이전 버튼 -->
            <li th:classappend="${pageResponse.metadata.number > 0} ? '' : 'disabled'">
                <a th:href="@{|/order?page=${pageResponse.metadata.number - 1}&size=${pageResponse.metadata.size}|}"
                   th:if="${pageResponse.metadata.number > 0}" aria-label="Previous">Previous</a>
                <span th:if="${pageResponse.metadata.number == 0}" aria-label="Previous">Previous</span>
            </li>

            <!-- 페이지 번호 -->
            <li th:each="pageNumber : ${#numbers.sequence(0, pageResponse.metadata.totalPages - 1)}" th:classappend="${pageNumber == pageResponse.metadata.number} ? 'active' : ''">
                <a th:href="@{|/order?page=${pageNumber}&size=${pageResponse.metadata.size}|}"
                   th:text="${pageNumber + 1}"></a>
            </li>            <!-- 다음 버튼 -->

            <li th:classappend="${pageResponse.metadata.number < pageResponse.metadata.totalPages - 1} ? '' : 'disabled'">
                <a th:href="@{|/order?page=${pageResponse.metadata.number + 1}&size=${pageResponse.metadata.size}|}"
                   th:if="${pageResponse.metadata.number < pageResponse.metadata.totalPages - 1}" aria-label="Next">Next</a>
                <span th:if="${pageResponse.metadata.number == pageResponse.metadata.totalPages - 1}" aria-label="Next">Next</span>
            </li>
        </ul>
    </div>
</div>
</body>

</html>
