<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>브라보브라 상품</title>
    <link rel="stylesheet" href="/css/productList.css">
    <link rel="stylesheet" href="../css/header.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--    <script src="https://code.jquery.com/jquery-3.7.0.min.js"-->
<!--            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>-->
<!--    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>-->
  </head>
  <body>
<!--  관리자(admin@admin.com) 화면에만 상품등록, 전체선택, 수정, 삭제 가 보여야 한다.-->
    <div id="wrap">
<!--      <div class="search-container">-->
<!--        <form th:action="@{/product/productSearch}" method="get" >-->
<!--          <label for="search">검색:</label>-->
<!--          <input type="text" id="search" name="name" placeholder="검색어를 입력하세요" />-->
<!--          <button type="submit">검색</button>-->
<!--        </form>-->
<!--      </div>-->
      <div>
        <th:block th:replace="fragments/header :: header"></th:block>
      </div>
      <div class="buttons">
        <form th:if="${session!=null and session.loginMember!=null and session.loginMember.getEmail()=='admin@admin.com'}" action="/product/write" method="get">
          <button type="submit" value="상품등록">상품등록</button>
        </form>
        <button th:if="${session!=null and session.loginMember!=null and session.loginMember.getEmail()=='admin@admin.com'}"
                type="submit" value="selectAll" id="selectAll">전체선택</button>
        <button th:if="${session!=null and session.loginMember!=null and session.loginMember.getEmail()=='admin@admin.com'}"
                type="submit" value="deselectAll" id="deselectAll">선택해제</button>
        <form id="deleteForm" action="/product/delete" method="get"
              th:if="${session!=null and session.loginMember!=null and session.loginMember.getEmail()=='admin@admin.com'}">
            <input type="hidden" name="productId" id="productId">
            <button type="button" value="delete" id="delete" onclick="submitDeleteForm()">선택상품삭제</button>
        </form>
      </div>
      <table>
        <thead>
        <tr>
          <th>상품번호</th>
          <th>썸네일</th>
          <th>제목</th>
          <th>정가</th>
          <th>할인율</th>
          <th>판매가</th>
          <th>해시태그</th>
          <th th:if="${session!=null and session.loginMember!=null and session.loginMember.getEmail()=='admin@admin.com'}">수정</th>
          <th th:if="${session!=null and session.loginMember!=null and session.loginMember.getEmail()=='admin@admin.com'}">삭제</th>
          <th th:if="${session!=null and session.loginMember!=null and session.loginMember.getEmail()=='admin@admin.com'}">선택</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${list}">
          <!-- 상품번호에 링크 -->
          <td>
            <a th:href="@{/product/detail(productId=${product.productId})}"
               th:text="${product.productId}">
              상품번호
            </a>
          </td>
          <!-- 썸네일에 링크 -->
          <td>
            <a th:href="@{/product/detail(productId=${product.productId})}">
              <img th:src="@{../uploads/{filename}(filename=${product.thumbnail})}"
                   alt="Thumbnail Image"
                   style="width:100px;">
            </a>
          </td>
          <!-- 제목에 링크 -->
          <td>
            <a th:href="@{/product/detail(productId=${product.productId})}"
               th:text="${product.productName}">
              상품명
            </a>
          </td>
          <td th:text="${product.fixedPrice}"></td>
          <td th:text="${product.discountRate}"></td>
          <td th:text="${product.salePrice}"></td>
          <td th:text="${product.hashTag}"></td>
          <td th:if="${session!=null and session.loginMember!=null and session.loginMember.getEmail()=='admin@admin.com'}">
            <a th:href="@{/product/modify(productId=${product.productId})}">수정</a>
          </td>
          <td th:if="${session!=null and session.loginMember!=null and session.loginMember.getEmail()=='admin@admin.com'}">
            <a th:href="@{/product/delete(productId=${product.productId})}">삭제</a>
          </td>
          <td th:if="${session!=null and session.loginMember!=null and session.loginMember.getEmail()=='admin@admin.com'}">
            <input type="checkbox" class="productCheckbox" th:value="${product.productId}" name="checkbox">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination">
      <ul>
        <!-- 이전 버튼 -->
        <li th:if="${ph.showPrev}">
          <a th:href="@{/product/list(page=${ph.beginPage - 1})}">이전</a>
        </li>
        <!-- 페이지 번호 -->
        <li th:each="i : ${#numbers.sequence(ph.beginPage, ph.endPage)}">
          <a th:href="@{/product/list(page=${i})}" th:classappend="${i == ph.page} ? 'active'">
            <span th:text="${i+1}"></span>
          </a>
        </li>
        <!-- 다음 버튼 -->
        <li th:if="${ph.showNext}">
          <a th:href="@{/product/list(page=${ph.endPage + 1})}">다음</a>
        </li>
      </ul>
    </div>
    <script>
      let selectAll = document.getElementById('selectAll'); // 전체 선택
      let deselectAll = document.getElementById('deselectAll'); // 선택 해제
      let checkBox = document.getElementsByName('checkbox'); // 체크박스들
      let arr = [];
      selectAll.onclick = function() {
        for (let i = 0; i < checkBox.length; i++) {
          checkBox[i].checked = true;
        }
      };

      deselectAll.onclick = function() {
        for (let i = 0; i < checkBox.length; i++) {
          checkBox[i].checked = false;
        }
      };

      function submitDeleteForm() {
        arr = []; // 배열에 선택된 상품ID를 넣는다
        // 체크된 상품 ID 배열로 담기
        for (let i = 0; i < checkBox.length; i++) {
          if (checkBox[i].checked) {
            arr.push(checkBox[i].value);
          }
        }

        // 배열에 담긴 상품ID가 없으면 경고 메시지
        if (arr.length === 0) {
          alert("삭제할 상품을 선택해주세요.");
          return;
        }

        // 상품ID들을 URL 파라미터로 전달
        let url = '/product/delete?productId=' + arr.join('&productId=');
        window.location.href = url;
      }
    </script>
  </body>
</html>