<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Member</title>
</head>
<body>
<h1>회원 등록</h1>
<form th:action="@{/members/join}" th:object="${memberDto}" method="post">
    <div>
        <label for="email">이메일</label>
        <input type="text" id="email" th:field="*{email}" placeholder="이메일을 입력하세요">
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></div>
    </div>
    <div>
        <label for="password">비밀번호</label>
        <input type="password" id="password" th:field="*{password}" placeholder="비밀번호를 입력하세요">
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></div>
    </div>
    <div>
        <label for="nickname">닉네임</label>
        <input type="text" id="nickname" th:field="*{nickname}" placeholder="닉네임을 입력하세요">
    </div>
    <div>
        <label for="phoneNumber">전화번호</label>
        <input type="text" id="phoneNumber" th:field="*{phoneNumber}" placeholder="전화번호를 입력하세요">
        <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" style="color: red;"></div>
    </div>
    <div>
        <button type="submit">등록</button>
    </div>
</form>
</body>
</html>
